In [1]:
!pip3 install -q "psycopg[binary]"

In [ ]:
conninfo = "dbname=vector_db host=postgres user=admin port=5432"
psycopg2

In [3]:
import psycopg

conn = psycopg2.connect(database="vector_db",
                        host="postgres",
                        user="admin",
                        password="admin",
                        port="5432")

In [4]:
cursor = conn.cursor()

In [11]:
cursor.execute(""" 
CREATE EXTENSION vector;
""")

In [13]:
cursor.execute("""
CREATE TABLE chunks (
    chunk_id INT GENERATED ALWAYS AS IDENTITY,
    data text NOT NULL,
    embedding vector(3),
    PRIMARY KEY(chunk_id)
);
""")

In [6]:
cursor.execute("""SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public'""")
for table in cursor.fetchall():
    print(table)

('chunks',)

In [53]:
conn.commit()

In [58]:
conn.rollback()

In [19]:
embedding = [1.0, 2.5, 3.5]

In [52]:
cursor.execute(f"""
INSERT INTO chunks(data, embedding)
VALUES('i luv rocks', '{embedding}')
""")

In [51]:
cursor.execute("""
SELECT *
FROM chunks
""")
cursor.fetchall()

[]

In [60]:
import pandas as pd

cursor.execute("""
SELECT data, embedding <-> '[1, 2.5, 3.5]' as distance
FROM chunks
WHERE data ILIKE '%rocks%'
ORDER BY embedding <-> '[1, 2.5, 3.5]'
LIMIT 2
""")
data = cursor.fetchall()
df = pd.DataFrame(data, columns=["data", "distance"])
df

          data  distance
0  i luv rocks       0.0

In [3]:
print("hi")

hi